<div class="container">
    <h2>Apps Filter Options</h2><hr>
                          
    <form #form='ngForm' (ngSubmit)="onSubmit(form)">

      <div class="form-group">
         <mat-form-field>
            <label for="birthYear">Birth Year</label>
            <input matInput type="number" min="1920" max="2020" 
                  id="birthYear" name="birthYear" 
                  class="form-control" [(ngModel)]='filter.birthYear'>   
         </mat-form-field>
      </div>

      <div class="form-group">
         <mat-form-field>
            <label for="chosenCategory">Category</label>
            <mat-select id="chosenCategory" name="chosenCategory" [(ngModel)]='filter.chosenCategory'>
               <mat-option *ngFor="let category of categories" [value]="category">
               {{category}}
               </mat-option>
            </mat-select> 
         </mat-form-field>
      </div>

      <div class="form-group">
         <mat-form-field>
            <label for="minAppRating">Rating</label>
            <input matInput type="number" min="0" max="5" id="minAppRating" name="minAppRating" class="form-control" [(ngModel)]='filter.minAppRating'>   
         </mat-form-field>
      </div>
 
       <button mat-button>Send</button>
    </form>
 </div>